doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Simple user dashboard app
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css' integrity='sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn' crossorigin='anonymous')
  link(href='stylesheets/dashboard.css' rel='stylesheet')
nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
  a.navbar-brand.col-md-3.col-lg-2.mr-0.px-3(href='#') User dashboard
  button.navbar-toggler.position-absolute.d-md-none.collapsed(type='button' data-toggle='collapse' data-target='#sidebarMenu' aria-controls='sidebarMenu' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
      a.nav-link(href='/auth/signout') Sign out
.container-fluid
  .row
    nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
      .sidebar-sticky.pt-3
        ul.nav.flex-column
          li.nav-item
            a.nav-link.active(href='#')
              span(data-feather='home')
              |               Dashboard 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file')
              |               Orders
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='shopping-cart')
              |               Products
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='users')
              |               Customers
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='bar-chart-2')
              |               Reports
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='layers')
              |               Integrations
    main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Dashboard
      .table-responsive
        table.table.table-striped.table-sm
          thead
            tr
              th #
              th Header
              th Header
              th Header
              th Header
          tbody
            tr
              td 1,001
              td random
              td data
              td placeholder
              td text
            tr
              td 1,002
              td placeholder
              td irrelevant
              td visual
              td layout
            tr
              td 1,003
              td data
              td rich
              td dashboard
              td tabular

script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js')
script(src='javascripts/dashboard.js')
